/*
    This external CSS sheet will follow the following short-hand styles:
    margin: <top> <right> <bottom> <left>
    padding: <top> <right> <bottom> <left>
    border: <top> <right> <bottom> <left>
*/

/* Font style used for the header */
@font-face {
    font-family: 'Silkscreen-Regular';
    src: url(fonts/Silkscreen-Regular.ttf);
}

/* Font style used for the rest of page (when applied) */
@font-face {
    font-family: 'Silkscreen-Bold';
    src: url(fonts/Silkscreen-Bold.ttf);
}

/* Apply to all child elements within a section element */
* section { 
    font-family:"Silkscreen-Regular", sans-serif;
}

/* Bright yellow when big landscape screen (desktop)
or white when mobile phone mode */
body {
    background: hsl(51, 100%, 89%);
}
@media only screen and (max-width: 768px) {
    body {
      background-color: white;
    }
}

/* All descendant elements p of element div have font-size 1.2em */
div p {
    font-size: 1.2em;
}

/* All child elements <ul> and <label> of element div have font-size 1.2em */
div > ul, label {
    font-size: 1.2em;
}

/* The solid line after each section is modified into a blue dashed line */
section + hr {
    border-top: 1px;
    border: dashed;
    color: cornflowerblue;
}

/* Element <b> of all headers (h1-6) will have red background */
h1 b, h2 b, h3 b, h4 b, h5 b, h6 b {
    background:#ff000042;
}

/* All paragraphs following a label will be red and italic */
label ~ p {
    font-style: italic;
    color: red;
}

/* For the header of the page */
#page-header {
    color: #00bfff;
    font-family: "Silkscreen-Bold", sans-serif;
    text-shadow: 2pt 2pt #ff0000cf;
    position: relative;
}

/* Stick the ghost picture to the top right of the page */
#page-header img {
    position: absolute;
    top: 0px;
    right: 50px;

    /* Scale picture to be small */
    width: 1in;
    height: auto;
    max-width: 10%;
    min-width: 5%
}

/* Heading style for the heading 1s across each section */
section h1 {
    /* For the border */
    margin: 10px 0px 10px 0px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: cornflowerblue;
    background: white;
    border: 0% 85% 0% 85%;
    padding-bottom: 10px;
    padding-top: 10px;

    /* For the text */
    color: #00bfff; /* This color is very poppy */
    font-family: "Silkscreen-Regular", sans-serif;
    text-align: center;
    text-shadow: 2pt 2pt #ff0000;
}

/* The standard formatting of each section */
#section-standard {
    /* For the border */
    margin: auto;
    border-left-style: solid;
    border-color: cornflowerblue;
    border-width: thick;
    background: whitesmoke;
    padding: 10px 0px 10px 5px;

    /* For the texts and other contents */
    color: 	rgb(105,105,105); /* dark gray */
}

/* For the navigation bar */
#navigation {
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
    padding: 10px 0px 10px 0px;
    text-shadow: 2px 2px #ff0000;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

/* Leader of the group is colored red */
#leader {
    color: rgba(214, 50, 50, 0.756);
    text-decoration: underline dotted red;
}

/* (Unused) designer of the group is colored yellow */
#designer {
    color: rgb(255, 242, 0);
    text-decoration: underline dotted yellow;
}

/* Planner of the group is colored blue */
#planner {
    color:rgba(0, 72, 252, 0.756);
    text-decoration: underline dotted blue;
}

/* Used to hide a content (kinda useless) when needed */
span.hide {
    display: none;
}

/* When hovering over the button, it turns blue */
button:hover {
    color: blue;
    font-size: 1.1em;
}

/* When button is clicked, it turns purple */
button:active {
    color: purple;
    font-size: 1.1em;
}

/* Centering the video and the whiteboard */
#video, #whiteboard, #audio {
    display: block;
    margin: 0 auto;
    position: relative;

    /* Added a dark gray border with rounded corner */
    border-style: solid;
    border-color: cornflowerblue;
    box-shadow: 5px 5px #ff000042;
}

/* Hyperlink now has yellow background color */
a[href] {
    background-color: rgb(248, 219, 0);
}

/* Generic flex boxes */
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-container > li {
    background-color: white;
    padding: 10px 0px 10px 0px;
    position: relative;
    max-width: 20%;
    text-align: center;
    border: dotted;
    border-color: cornflowerblue;
}

/* Styling for a tic tac board */
.tic-tac-bar {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 10px;
    border: black solid thick;
    max-width: 50%;
}

/* Styling for each square inside the tic tac board */
.tic-tac-bar > div {
    background-color: white;
    border: black thin solid;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

/* Reserved for super important text */
.super-em {
    display: inline-block;
    padding: 5px 5px 5px 5px;
    border: solid red;
}
